*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url(../public/img/estacionamiento.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

center{
  color: #f24207;
}

main{
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

.contenedor__todo{
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.caja__trasera{
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(236, 99, 99, 0.5);
}

.caja__trasera div{
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera button{
  margin-top: 30px;
}

.caja__trasera div h3{
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera div p{
  font-size: 16px;
  font-weight: 300;
}

.caja__trasera button{
  padding: 10px 40px;
  border: 2px solid #fff;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}

.caja__trasera button:hover{
  background: #fff;
  color: #46A2FD;
}

.contenedor__login-register{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
  width: 100%;
  padding: 80px 20px;
  background: white;
  position: absolute;
  border-radius: 20px;
}

.contenedor__login-register form h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #e74b4b;
}

.contenedor__login-register form input{
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #F2F2F2;
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button{
  padding: 10px 40px;
  margin-top: 20px;
  border: none;
  font-size: 14px;
  background: #e74b4b;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
}

.contenedor__login-register form a{
  padding: 10px 40px;
  margin-top: 20px;
  border:none;
  font-size: 14px;
  background: #e74b4b;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
}

.contenedor__login-register form button:hover{
  background-color: #60ee60;
}

.formulario__login{
  opacity: 1;
  display: block;
}

.formulario__register{
  display: none;
}

@media screen and (max-width: 850px){
  main{
      margin-top: 50px;
  }

  .caja__trasera{
      max-width: 350px;
      height: 300px;
      flex-direction: column;
      margin: auto;
  }

  .caja__trasera div{
      margin: 0px;
      position: absolute;
  }

  .contenedor__login-register{
      top: -10px;
      left: -5px;
      margin: auto;
  }

  .contenedor__login-register form{
      position: relative;
  }
}

/* Estilos para los enlaces */
a {
  display: inline-block;  /* muestra los enlaces en línea */
  padding: 10px 20px;  /* añade relleno (padding) de 10px arriba y abajo, y 20px a la izquierda y derecha */
  background-color: #fb0707;  /* establece el color de fondo en rojo */
  color: #fff;  /* establece el color del texto en blanco */
  text-decoration: none;  /* elimina el subrayado de los enlaces */
}
/* Estilos para los enlaces al pasar el cursor sobre ellos */
a:hover {
  background-color: rgb(38, 190, 53);  /* establece el color de fondo en verde */
}

/* Estilos para el formulario */
form {
  display: flex;  /* muestra los elementos del formulario en línea */
  flex-direction: column;  /* establece la dirección de los elementos del formulario a una columna */
  align-items: center;  /* centra los elementos horizontalmente */
}
/* Estilos para los campos de entrada de texto */
input[type=text], input[type=date], input[type=time] {
  width: 100%;  /* establece el ancho del campo de entrada en 100% */
  padding: 10px;  /* añade relleno (padding) de 10px a los campos de entrada */
  margin: 5px 0;  /* establece un margen de 5px en la parte superior e inferior del campo de entrada */
  border: none;  /* elimina el borde del campo de entrada */
  border-radius: 3px;  /* establece la esquina redondeada del campo de entrada en 3px */
  background-color: #f2f2f2;  /* establece el color de fondo del campo de entrada en gris claro */
  font-size: 16px;  /* establece el tamaño de fuente del campo de entrada en 16px */
}
/* Estilos para el botón de envío del formulario */
input[type=submit] {
  background-color: #ea100d;  /* establece el color de fondo del botón en rojo oscuro */
  color: white;  /* establece el color del texto en blanco */
  border: none;  /* elimina el borde del botón */
  border-radius: 3px;  /* establece la esquina redondeada del botón en 3px */
  padding: 10px 20px;  /* añade relleno (padding) de 10px arriba y abajo, y 20px a la izquierda y derecha */
  cursor: pointer;  /* cambia el cursor al pasar el cursor sobre el botón */
  font-size: 16px;  /* establece el tamaño de fuente del botón en 16px */
}

/* Estilos para la tabla */
table {
  border-collapse: collapse;  /* combina los bordes de la tabla */
  width: 100%;  /* establece el ancho de la tabla en 100% */
}

th, td {
  text-align: left;  /* alinea el texto a la izquierda en las celdas de la tabla */
  padding: 8px;  /* añade relleno (padding) de 8px a las celdas de la tabla */
  border-bottom: 1px solid #918d8d;  /* agrega un borde inferior de 1px sólido en un tono de gris oscuro a las celdas de la tabla */
}
tr:hover {
  background-color: #d40f0f;  /* cambia el color de fondo de una fila al pasar el cursor sobre ella a un tono rojo oscuro */
}

/* Estilos para todo el cuerpo del documento */
body {
  background-image: url(../img/problem.png);
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  }
  
  /* Estilos para los enlaces */
  a{
  display: inline-block;
  padding: 10px 20px;
  background-color: #fb0707;
  color: #fff;
  text-decoration: none;
  }
  
  /* Estilos para los enlaces al pasar el cursor por encima */
  a:hover{
  background-color: rgb(38, 190, 53);
  }
  
  /* Estilos para los títulos principales */
  h1 {
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;        
  text-align: center;
  margin-top: 30px;
  }
  
  /* Estilos para el formulario */
  form {
  background-color: #fff;
  max-width: 500px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  height: 65vh;
  }
  
  /* Estilos para los campos de texto y área de texto del formulario */
  input[type="text"], textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  }
  
  /* Estilos para las etiquetas del formulario */
  label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  }
  
  /* Estilos para el botón de enviar el formulario */
  button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  float: right;
  }
  
  /* Estilos para el botón de enviar el formulario al pasar el cursor por encima */
  button[type="submit"]:hover {
  background-color: #ff1a16;
  }

  /* Establecemos el color de fondo del cuerpo */
body {
  background-color: #F2F2F2;
  }
  
  /* Establecemos los estilos de los enlaces */
  a{
  display: inline-block;
  padding: 10px 20px;
  background-color: #fb0707;
  color: #fff;
  text-decoration: none;
  }
  
  /* Establecemos los estilos al pasar el cursor sobre los enlaces */
  a:hover{
  background-color: rgb(38, 190, 53);
  }
  
  /* Establecemos los estilos para el contenedor de datos */
  .datos {
  background-color: #F9F9F9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Establecemos los estilos para el formulario */
  form {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  }
  
  /* Establecemos los estilos para los campos de fecha y hora */
  input[type="date"], input[type="time"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  }
  
  /* Establecemos los estilos para el contenedor de la tabla */
  .grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 10px #D9D9D9;
  }
  
  /* Establecemos los estilos para las celdas de la tabla */
  .grid-item {
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  color: #666666;
  cursor: pointer;
  transition: all 0.3s ease;
  }
  
  /* Establecemos los estilos al pasar el cursor sobre las celdas de la tabla */
  .grid-item:hover {
  box-shadow: 0 0 5px #D9D9D9;
  }
  
  /* Establecemos los estilos para las celdas de la tabla reservadas */
  .reserved {
  background-color: #FFCCCC;
  border-color: #FF6666;
  }
  
  /* Establecemos los estilos para el botón de reservar */
  .reserve-button {
  margin-top: 10px;
  background-color: #FF6666;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  }
  
  /* Establecemos los estilos al pasar el cursor sobre el botón de reservar */
  .reserve-button:hover {
  background-color: #95cfad;
  }
  
  /* Establecemos los estilos para el título de la página */
  h1 {
  font-size: 36px;
  color: #666666;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  }

  /* Establece el valor box-sizing: border-box para todos los elementos HTML, 
lo que significa que cualquier borde o relleno que se aplique a un elemento se incluirá dentro de las dimensiones del elemento */
* {
  box-sizing: border-box;
}

/* Define el fondo de la página usando una imagen */
body {
  background-image: url(../img/cancelado.png);
  /* Establece la fuente a utilizar en la página */
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Define los estilos para los enlaces */
a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fb0707;
  color: #fff;
  text-decoration: none;
}

/* Define los estilos para los enlaces al pasar el cursor sobre ellos */
a:hover {
  background-color: rgb(38, 190, 53);
}

/* Define los estilos para el contenedor principal de la página */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 10%;
  height: 50vh;
}

/* Define los estilos para el título de la página */
h1 {
  text-align: center;
}

/* Define los estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
}

/* Define los estilos para cada campo de entrada en el formulario */
.input-container {
  margin-bottom: 35px;
}

/* Define los estilos para las etiquetas de texto del formulario */
label {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Define los estilos para los campos de texto del formulario */
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

/* Define los estilos para los campos de texto del formulario cuando están enfocados */
input[type="text"]:focus {
  outline: none;
  border-color: #333;
}

/* Define los estilos para el botón de enviar del formulario */
button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Define los estilos para el botón de enviar del formulario al pasar el cursor sobre él */
button[type="submit"]:hover {
  background-color: #e60000;
}

